:root {
    /* Color variables */
    --primary-color: #0d1117;
    --secondary-color: #21262d;
    --off-white-color: #e8eaed;
    --low-priority-color: #00ff00;
    --medium-priority-color: #ffa500;
    --high-priority-color: #ff0000;

    /* Font application */
    font-family: 'Hanken Grotesk', sans-serif;
}

/* hanken-grotesk-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/hanken-grotesk-v5-latin-regular.woff2') format('woff2');
}

/* hanken-grotesk-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Hanken Grotesk';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/hanken-grotesk-v5-latin-italic.woff2') format('woff2');
}

/* hanken-grotesk-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/hanken-grotesk-v5-latin-700.woff2') format('woff2');
}

body {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    margin-right: 3rem;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

header {
    border-bottom: 2px solid var(--secondary-color);
}

header h1 {
    font-size: 2rem;
    color: var(--off-white-color);
    font-weight: 700;
    margin-bottom: 1em;
    margin-top: 1em;
}
