/* Variable declarations */
:root {
    /* Color variables */
    --color-primary: #0d1117;
    --color-secondary: #21262d;
    --color-white: #e8eaed;
    --color-white-semiopaque: #e8eaed66;
    --color-green: #00ff00;
    --color-orange: #ffa500;
    --color-red: #ff0000;

    /* Font sizes */
    --font-h1: 2rem;
    --font-h2: 1.5rem;
    --font-h3: 1.17rem;
    --font-h4: 1rem;

    /* Paddings/Margins */
    --gap-large: 2rem;
    --gap-small: 0.5rem;

    /* Border radius */
    --border-radius: 0.5em;
}

/* Font declarations */
/* hanken-grotesk-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/hanken-grotesk-v5-latin-regular.woff2') format('woff2');
}

/* hanken-grotesk-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Hanken Grotesk';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/hanken-grotesk-v5-latin-italic.woff2') format('woff2');
}

/* hanken-grotesk-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/hanken-grotesk-v5-latin-700.woff2') format('woff2');
}

/* Layout */
body {
    background-color: var(--color-primary);
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#wrapper {
    margin: 0 3rem;
}

#primary-header {
    border-bottom: 2px solid var(--color-secondary);
}

#content {
    margin-top: var(--gap-large);
    display: flex;
}

aside {
    width: 300px;
    border-right: 2px solid var(--color-secondary);
    padding-right: var(--gap-large);
}

nav {
    margin-top: var(--gap-large);
}

main {
    margin-left: var(--gap-large);
    flex: 1;
}

#notes-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Base*/
::selection {
    color: var(--color-secondary);
    background-color: var(--color-white);
}

h1 {
    font-size: var(--font-h1);
    color: var(--color-white);
    font-weight: 700;
    margin: var(--gap-large) 0;
}

h2 {
    font-size: var(--font-h2);
    color: var(--color-white-semiopaque);
}

h2.notes-category {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-white);
}

h3 {
    font-size: var(--font-h3);
    color: var(--color-white);
    font-weight: 700;
}

input[type='text'] {
    color: var(--color-white);
    line-height: calc(1em + 0.5rem);
}

input[type='text']::placeholder,
textarea,
textarea::placeholder {
    color: var(--color-white-semiopaque);
    line-height: calc(1em + 0.5rem);
}

input[type='text']:focus-visible,
textarea:focus-visible {
    background-color: var(--color-secondary);
    color: var(--color-white);
}

input[type='submit'],
input[type='reset'],
button {
    color: var(--color-white);
    padding: 0.3em 0.6em;
    border-radius: 50%;
    font-size: var(--font-h2);
}

label {
    font-size: var(--font-h4);
    color: var(--color-white);
    font-weight: 700;
    cursor: default;
}

select {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    appearance: auto;
    padding: 0.3em 0.6em;
    border-radius: var(--border-radius);
    vertical-align: middle;
}

select:focus-visible {
    background-color: var(--color-secondary);
}

select[data-chosen='low'] {
    color: var(--color-green);
}

select[data-chosen='medium'] {
    color: var(--color-orange);
}

select[data-chosen='high'] {
    color: var(--color-red);
}

option {
    background-color: var(--color-primary);
}

option:nth-child(1) {
    color: var(--color-green);
}

option:nth-child(2) {
    color: var(--color-orange);
}

option:nth-child(3) {
    color: var(--color-red);
}

input[type='date'] {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    color: var(--color-white);
    cursor: text;
}

input[type='date']::-webkit-calendar-picker-indicator {
    padding: 0.6em;
    border-radius: 50%;
}

@media (hover: hover) {
    input[type='submit']:hover {
        background-color: var(--color-secondary);
        color: var(--color-green);
    }
    input[type='reset']:hover {
        background-color: var(--color-secondary);
        color: var(--color-red);
    }
    select:hover,
    input[type='date']::-webkit-calendar-picker-indicator:hover {
        background-color: var(--color-secondary);
    }
}

/* Custom */
.add-project {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#add-project__input {
    border: 1px solid var(--color-secondary);
    border-radius: var(--border-radius);
    padding: 0.3em 0.6em;
}

#add-project__input:not(:placeholder-shown) + #add-project__submit {
    visibility: visible;
}

#add-project__submit,
.project__delete {
    visibility: hidden;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--gap-small);
}

.project__name {
    flex: 1;
    padding: 0.3em 0.6em;
    margin-right: var(--gap-small);
    cursor: default;
}

.project--active > .project__name {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    color: var(--color-white);
    font-weight: 700;
}

.project--active > .project__delete {
    visibility: visible;
}

.add-note {
    height: 36.31px;
    width: 500px;
    border: 1px solid var(--color-secondary);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.add-note:focus-within {
    height: fit-content;
}

#add-note__title {
    font-size: var(--font-h3);
    font-weight: 700;
    width: 100%;
    padding: 0.3rem 0.6rem;
}

#add-note__description {
    display: block;
    font-size: 1rem;
    width: 100%;
    padding: 0.3rem 0.6rem;
    word-wrap: break-word;
}

.add-note__bottom-section {
    padding: 0rem 0.6rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.add-note__handles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-small);
    border-top: 1px solid var(--color-secondary);
}

@media (hover: hover) {
    .project__name:hover {
        color: var(--color-white);
        font-weight: 700;
    }
    .project__delete:hover {
        color: var(--color-red);
        background-color: var(--color-secondary);
    }
}
