:root {
    /* Color variables */
    --color-primary: #0d1117;
    --color-secondary: #21262d;
    --color-white: #e8eaed;
    --color-white-semiopaque: #e8eaed66;
    --color-green: #00ff00;
    --color-orange: #ffa500;
    --color-red: #ff0000;

    /* Font sizes */
    --font-h1: 2rem;
    --font-h2: 1.5rem;

    /* Paddings/Margins */
    --gap-large: 2rem;
    --gap-small: 0.5rem;

    /* Border radius */
    --border-radius: 0.5em;
}

/* hanken-grotesk-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/hanken-grotesk-v5-latin-regular.woff2') format('woff2');
}

/* hanken-grotesk-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Hanken Grotesk';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/hanken-grotesk-v5-latin-italic.woff2') format('woff2');
}

/* hanken-grotesk-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/hanken-grotesk-v5-latin-700.woff2') format('woff2');
}

/* Layout */
body {
    background-color: var(--color-primary);
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.WRAPPER {
    margin: 0 3rem;
}

.WRAPPER__Header {
    border-bottom: 2px solid var(--color-secondary);
}

.CONTENT {
    margin-top: var(--gap-large);
    display: flex;
}

aside {
    width: 300px;
    border-right: 2px solid var(--color-secondary);
    padding-right: var(--gap-large);
}

nav {
    margin-top: var(--gap-large);
}

main {
    margin-left: var(--gap-large);
    flex: 1;
}

.MAIN__Header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

/* Components */

h1 {
    font-size: var(--font-h1);
    color: var(--color-white);
    font-weight: 700;
    margin: var(--gap-large) 0;
}

h2 {
    font-size: var(--font-h2);
    color: var(--color-white-semiopaque);
}

.MAIN__Project-Name {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--color-white);
}

input[type='text'] {
    color: var(--color-white);
}

input[type='text']::placeholder {
    color: var(--color-white-semiopaque);
}

input[type='text']:focus-visible {
    background-color: var(--color-secondary);
}

input[type='submit'],
button {
    color: var(--color-white);
    padding: 0.3em 0.6em;
    border-radius: 50%;
    font-size: var(--font-h2);
}

@media (hover: hover) {
    input[type='submit']:hover {
        background-color: var(--color-secondary);
        color: var(--color-green);
    }
}

/* Blocks */
.ADD-PROJECT {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ADD-PROJECT__Input {
    border: 1px solid var(--color-secondary);
    border-radius: var(--border-radius);
    padding: 0.3em 0.6em;
}

#ADD-PROJECT__Input:not(:placeholder-shown) + #ADD-PROJECT__Submit {
    visibility: visible;
}

#ADD-PROJECT__Submit,
.PROJECT__Delete {
    visibility: hidden;
}

.PROJECT {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--gap-small);
}

.PROJECT__Name {
    flex: 1;
    padding: 0.3em 0.6em;
    margin-right: var(--gap-small);
    cursor: default;
}

@media (hover: hover) {
    .PROJECT__Name:hover {
        color: var(--color-white);
        font-weight: 700;
    }
}

.PROJECT--active > .PROJECT__Name {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    color: var(--color-white);
    font-weight: 700;
}

@media (hover: hover) {
    .PROJECT__Delete:hover {
        color: var(--color-red);
        background-color: var(--color-secondary);
    }
}

.PROJECT--active > .PROJECT__Delete {
    visibility: visible;
}
